
.UserPlayList{
  background-color: #eeecec;
  border-radius: 8px;
  padding: 0 20px 20px 20px;
  margin: 20px auto;
  max-width: 110rem;
  text-align: center; 
  height: auto;
  max-height: 55rem;
  overflow-y: scroll;

  &__header{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: #eeecec;
    padding-top: 30px;


    h2{
      margin:0;

    }
  }

  &__each{
    display: flex;
    flex-direction: column;  

    &-item{
    padding: 0;
    margin: 5px;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
      &:hover {
        background-color: #e5e5e5;
        transform: scale(1.002);
      }
    }

   
    &-artist,
    &-album,
    &-track,
    &-genre{
      width: 20%;
      height: fill-available;
      align-content: center;
    }
    
    &-cover{
      width: 10%;
      img{
        width: auto;
        max-width: 100px;;
      }
    }

    &-fav{
      width: 10%;
      height: fill-available;
      align-content: center;
      button{
        padding:0;
        margin:0;
        border:none;
        background-color: transparent;

        &:hover{
          cursor:pointer;
          transform:translateY(-3px);
        }
        &:active{
          transform: scale(0.7    );
        }
      }

      img{
        width: 30px;
        height: auto;          
      }
    }
  }
}

#PlaylistHeader{
  position: sticky;  
  top:60px;
  z-index: 1000;
  background-color: #eeecec;
  border-bottom: 2px solid #ccc;
  height: 45px;
  transform: none;
  width: 100%;
  margin: 0;

}